language: java
install: true
dist: trusty

before_install:
  - sudo apt-get install jq
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r .assets[0].browser_download_url)

after_success:
- gradle jacocoRootReport
- java -jar ~/codacy-coverage-reporter-assembly-latest.jar report -l Java -r opendse-encoding/build/reports/jacoco/test/jacocoTestReport.xml

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
  keep-history: true
  on:
    branch: master
